{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<section class="s1">
		<h3 class="home-h1">Welcome to LanguLand</h3>
	</section>

	<section class="s1-1">
		<div class="section-text-box">
			<h3 class="section-text-title">Learn language with Discussion</h3>
			<p class="section-text-p">For developers, Stack Overflow provides a robust and trusted community for people to learn and share programming knowledge. For speaking languages, LanguLand aims to provide a forum for people to learn new languages through discussion. </p>
		</div>
	</section>

	<section class="s2">
		<h1 class="home-h1">Let's talk!</h1>
	</section>

	<!-- <section class="s3">
		<h1>My Works</h1>
	</section> -->
{% endblock %}
