{% extends "base.html" %}

{% block css %}
	<style type="text/css">
/*		.success {
		  -webkit-animation: seconds 0.5s forwards;
		  -webkit-animation-iteration-count: 1;
		  -webkit-animation-delay: 2s;
		  animation: seconds 0.5s forwards;
		  animation-iteration-count: 1;
		  animation-delay: 2s;
		  position: relative;
		    
		}
		@-webkit-keyframes seconds {
		  0% {
		    opacity: 1;
		  }
		  100% {
		    opacity: 0;
		    left: -9999px; 
		    position: absolute;   
		  }
		}
		@keyframes seconds {
		  0% {
		    opacity: 1;
		  }
		  100% {
		    opacity: 0;
		    left: -9999px;
		    position: absolute;     
		  }
		}*/
	</style>
{% endblock %}

{% block content %}
	<div id="main">
		{% if wrong_message is defined %}
			<div class="alert alert-warning alert-box" role="alert">
				<strong>Sorry</strong><br> {{ wrong_message }}
			</div>
		{% endif %}
		<div class="login-box" id="login-box">
			<!-- login -->
			<h1>Login</h1>
			<form action="login" method="POST">
				<div class="textbox">
					<i class="fas fa-user"></i>
					<input class="text-effect" type="text" placeholder="Username" name="username" value="">
				</div>
				<div class="textbox">
					<i class="fas fa-unlock"></i>
					<input class="text-effect" type="password" placeholder="Password" name="password" value="">
				</div>
				<input class="login-btn" type="submit" name="login" value="Login in">
				<a href="#" class="no-account" onclick="toSignup()"><p>Don't have an account?</p></a>
			</form>
		</div>
		<!-- signup -->
		<div class="login-box" style="display: none;" id="signup-box">
			<h1>Sign up</h1>
			<form action="signup" method="POST">
				<div class="textbox">
					<i class="fas fa-user"></i>
					<input class="text-effect" type="text" placeholder="Username" name="username" value="">
				</div>
				<div class="textbox">
					<i class="fas fa-unlock"></i>
					<input class="text-effect" type="password" placeholder="Password" name="password" value="">
				</div>
				<input type="hidden" name="country" value="" id="country-input">
				<div class="textbox">
					<div class="country-slide-down"></div>
					<i class="fas fa-globe"></i>
					<div class="text-effect" style="cursor: pointer;">
						{% set lang_selection = ['spanish', 'french', 'german', 'italian', 'portuguese', 'dutch', 'russian', 'chinese', 'japanese', 'korean', 'arabic'] %}
						<label class="country-label">
							<ul class="lang-ul">
								<li id="country-box"><p>Country</p></li>
								<div class="lang-li-none" id="lang-li-none">
									{% for lang in lang_selection %}
										<li data-value="{{lang}}" class="country-li"><p>{{lang}}</p></li>
							  		{% endfor %}
								</div>
							</ul>
						</label>
						<i class="fas fa-chevron-down down-btn"></i>
					</div>
					
				</div>
				<input class="login-btn" type="submit" name="signup" value="Sign up">
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		// var i=0, text;
		// text = "Welcome to My Page"

		// function typing() {
		// 	if (i < text.length) {
		// 		document.getElementById("text").innerHTML += text.charAt(i);
		// 		i++;
		// 		setTimeout(typing, 50)
		// 	}
		// }
		// typing();

		function toSignup() {
			document.getElementById("login-box").style.display = 'none';
			document.getElementById("signup-box").style.display = 'block';
		}
		// function downBtn() {
		// 	var x = document.getElementById("lang-li-none");
		// 	x.style.height = "100%";
		// 	document.getElementById('lang-li-none').style.display = "block";
		// }
		// function hideCountry(name) {
		// 	country = name.getAttribute('data-value');
		// 	console.log(country);
		// 	id = document.getElementById('lang-li-none').getAttribute('class');
		// 	console.log(id);
		// 	document.getElementById('lang-li-none').style.display = 'none';
		// 	document.getElementById('lang-li-none').height = '0';
		// }
		$('.country-slide-down').click(function() {
			$("#lang-li-none").slideToggle();
			// $(".country-li").css('z-index', 3000);
		})
		$(".country-li").click(function() {
			var country_selected = $(this).data('value');
			console.log(country_selected);
			$("#lang-li-none").slideToggle();
			$('#country-box').text(country_selected);
			$('#country-input').val(country_selected);
		});
	</script>
{% endblock %}