{% block head %}
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
{% endblock %}

<!-- sidebar -->
<div class="sidebar">
	<a href="javascript:void(0)" onclick="openNav()">
		<div class="main-menu-button">
			<span class="bar bar-1"></span>
			<span class="bar bar-2"></span>
			<span class="bar bar-3"></span>
		</div>
	</a>
	<a id="close-btn" href="javascript:void(0)" onclick="closeNav()" style="display: none;"">
		<div class="main-menu-button">
			<span class="bar bar-1"></span>
			<span class="bar bar-2"></span>
			<span class="bar bar-3"></span>
		</div>
	</a>
	
	<nav id="main-nav" class="z-index-1">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="{{ url_for('selection') }}">Forum</a></li>
			<!-- <li><a href="#">Contact</a></li> -->
		</ul>
	</nav>
</div>

<!-- login -->
<!-- <a href="to-login"> -->
	<div class="login">
		{% if guest is defined %} 
			<input class="to-login-btn z-index-1" type="button" name="" value={{guest}} style="cursor: default;">
			<a href="/signout"><i class="fas fa-sign-out-alt sign-out-btn z-index-1"></i></a>
		{% else %}
			<a href="/to-login">
				<input class="to-login-btn z-index-1" type="button" name="" value="Log in">
			</a>
		{% endif %}
	</div>
<!-- </a> -->

{% block js_sidebar %}
	<script type="text/javascript">
		function openNav() {
			var x = document.getElementById("main-nav");
			x.style.width = "200px";
			document.getElementById('close-btn').style.display = "block";
		}
		function closeNav() {
			var x = document.getElementById("main-nav");
			x.style.width = "0";
			document.getElementById('close-btn').style.display = "none";
		}
	</script>
{% endblock %}